## Directories

In [9]:
import os
os.getcwd()
os.chdir('/Users/Kroki/Desktop/GitHub Projects/Wine Snobs')
os.getcwd()

'/Users/Kroki/Desktop/GitHub Projects/Wine Snobs'

## Importing Libraries and Modules

In [10]:
#Importing numpy and pandas
import numpy as np
import pandas as pd

#Importing sampling helper
from sklearn.model_selection import train_test_split

#Importing preprocessing modules
from sklearn import preprocessing

#Importing random forest model
from sklearn.ensemble import RandomForestRegressor

#Importing cross-validation pipeline
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV

#Importing evaluation metrics
from sklearn.metrics import mean_squared_error, r2_score

#Importing module for saving model
from sklearn.externals import joblib

## Reading in the data

In [11]:
dataset_url = 'http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
data = pd.read_csv(dataset_url, sep = ';')

## Inspecting the data

In [12]:
data.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
data.tail(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [14]:
data.shape

(1599, 12)

In [15]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Split Data

In [16]:
y = data['quality']
X = data.drop('quality',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.2,
                                                   random_state = 123,
                                                   stratify = y)

## Scale data

In [17]:
pipeline = make_pipeline(preprocessing.StandardScaler(),
                        RandomForestRegressor(n_estimators=100))

## Tune & fit the model

In [18]:
hyperparameters = {'randomforestregressor__max_features':['auto','sqrt','log2'],
                  'randomforestregressor__max_depth':[None,5,3,1]}

clf = GridSearchCV(pipeline,hyperparameters,cv=10)
clf.fit(X_train,y_train)
print(clf.best_params_)

{'randomforestregressor__max_depth': None, 'randomforestregressor__max_features': 'log2'}

In [19]:
assert clf.refit==True

## Evaluate model on test data

In [20]:
y_pred = clf.predict(X_test)
print(mean_squared_error(y_test,y_pred))

0.3459690625

# Save model, even though it's not great

In [21]:
joblib.dump(clf,'Output/rf_regressor.pkl')

['Output/rf_regressor.pkl']

## Load model from .pkl file and predict data set using loaded model

In [22]:
clf2 = joblib.load('Output/rf_regressor.pkl')
clf2.predict(X_test)

array([6.35, 5.74, 4.96, 5.5 , 6.34, 5.73, 4.94, 4.82, 5.  , 6.05, 5.17,
       5.73, 5.76, 5.07, 5.75, 5.67, 6.57, 5.64, 5.7 , 6.95, 5.54, 5.63,
       5.05, 6.05, 5.87, 5.05, 5.41, 5.14, 5.92, 5.94, 5.87, 6.48, 5.98,
       5.08, 4.92, 5.9 , 5.05, 6.01, 4.95, 6.1 , 4.93, 5.98, 6.74, 5.2 ,
       6.25, 5.42, 5.43, 5.61, 5.1 , 6.41, 5.97, 5.32, 5.75, 5.13, 5.64,
       5.73, 5.39, 5.32, 4.99, 5.33, 5.3 , 5.13, 5.07, 5.86, 5.94, 5.21,
       6.38, 5.01, 5.17, 6.63, 5.68, 5.7 , 5.  , 5.02, 5.29, 6.03, 5.25,
       5.13, 5.14, 5.31, 6.42, 5.59, 6.19, 6.36, 5.08, 6.01, 6.44, 6.42,
       5.76, 5.78, 6.04, 5.38, 6.32, 5.74, 5.71, 5.79, 6.58, 6.72, 5.61,
       6.73, 5.1 , 5.56, 5.17, 6.53, 5.01, 4.71, 5.6 , 5.02, 5.58, 5.8 ,
       5.77, 5.67, 6.09, 5.34, 5.01, 5.18, 5.89, 5.09, 4.91, 6.05, 5.82,
       5.13, 5.87, 6.15, 5.31, 5.38, 5.4 , 5.91, 5.52, 5.44, 5.78, 6.12,
       5.15, 5.37, 5.05, 6.38, 5.01, 5.09, 6.63, 5.56, 5.22, 5.06, 5.6 ,
       6.16, 5.32, 5.4 , 5.11, 6.48, 5.77, 5.07, 5.51, 5.09, 4.97, 5.04,
       5.21, 5.86, 5.38, 5.84, 5.83, 5.23, 5.52, 5.25, 5.37, 6.01, 5.  ,
       6.  , 5.16, 5.44, 5.55, 5.18, 5.88, 5.08, 5.62, 5.02, 5.62, 5.46,
       4.97, 5.36, 5.64, 5.04, 5.99, 5.52, 5.06, 5.01, 5.17, 6.15, 5.21,
       5.48, 5.19, 4.99, 5.4 , 6.63, 5.8 , 5.93, 5.38, 5.15, 5.42, 5.08,
       6.35, 4.82, 6.31, 5.06, 5.26, 5.28, 6.85, 5.95, 5.24, 5.26, 5.45,
       5.99, 5.86, 5.94, 6.07, 6.34, 5.77, 5.96, 5.18, 5.31, 5.65, 5.21,
       5.25, 6.06, 6.34, 5.61, 5.92, 5.85, 5.55, 6.11, 5.32, 5.76, 5.49,
       5.45, 6.02, 5.65, 4.86, 4.44, 6.83, 6.35, 6.13, 5.22, 5.33, 5.5 ,
       5.52, 6.21, 5.99, 5.2 , 5.17, 5.42, 5.23, 6.31, 5.15, 5.08, 5.24,
       5.14, 5.92, 6.5 , 5.74, 5.44, 5.42, 6.33, 5.43, 6.07, 5.31, 5.01,
       5.76, 5.77, 5.9 , 5.41, 5.37, 5.1 , 5.72, 5.47, 6.52, 6.14, 5.54,
       5.04, 6.  , 6.49, 6.04, 5.45, 5.71, 5.33, 5.39, 6.05, 6.91, 5.31,
       6.39, 5.81, 5.46, 5.46, 5.63, 5.23, 5.25, 6.23, 5.88, 5.93, 5.81,
       5.89, 5.4 , 5.63, 5.69, 6.11, 5.61, 6.99, 6.74, 5.86, 6.28, 5.05,
       5.22, 5.9 , 5.29, 5.36, 6.2 , 6.54, 6.58, 5.21, 5.56, 5.69, 6.12,
       5.6 ])